# Java
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# Gradle
.gradle
build
gradle-app.setting
.gradletasknamecache
!gradle-wrapper.jar

# Intellij
*.iml
*.idea

# VSCode
.vscode

# Editors
*~

# OS
.DS_Store
.AppleDouble
.LSOverride
.TemporaryItems
.Trashes
